*
!.sample.env
!Dockerfile
!backend/
!backend/**
!frontend/
!frontend/**
!infra/
!infra/gcp/
!infra/gcp/cloudbuild.backend.yaml
!infra/gcp/cloudbuild.frontend.yaml

backend/.pytest_cache/
backend/app/cache/
backend/ch6_outputs/
backend/*.db
backend/**/*.pyc
backend/**/__pycache__/
frontend/dist/
frontend/node_modules/
